<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArrowLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,357},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>ArrowRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,357},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>AttackReticle.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,168},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>AttackReticle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,94},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>Bar_Anger.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,60},{117,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,17}}</string>
                <key>sourceSize</key>
                <string>{117,17}</string>
            </dict>
            <key>Bar_Background.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{117,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,18}}</string>
                <key>sourceSize</key>
                <string>{117,18}</string>
            </dict>
            <key>Bar_Hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,41},{117,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,17}}</string>
                <key>sourceSize</key>
                <string>{117,17}</string>
            </dict>
            <key>Bar_Mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,22},{117,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,17}}</string>
                <key>sourceSize</key>
                <string>{117,17}</string>
            </dict>
            <key>Icon_Head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,414},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Icon_Head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,364},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>UI_BackButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,192},{38,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{38,39}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>UI_BackButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,294},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>UI_Cancel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,430},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>UI_Cancel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>UI_EndTurn.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,242},{72,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{72,52}}</string>
                <key>sourceSize</key>
                <string>{128,90}</string>
            </dict>
            <key>UI_EndTurn_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,90}}</string>
                <key>sourceSize</key>
                <string>{128,90}</string>
            </dict>
            <key>UI_HelpButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,152},{38,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{38,39}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>UI_HelpButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,224},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>UI_MagicButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>UI_Magic_Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,296},{61,65}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{61,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>UI_Magic_Strike.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,359},{53,65}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{53,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>UI_Magic_Water.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,79},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>UI_PotionButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,232},{27,39}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{27,39}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>UI_SettingsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,112},{38,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{38,39}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>UI_SettingsButton_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,154},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>UI_SkillButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,79},{31,41}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{31,41}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>UI_Stay.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,327},{30,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>UI_StayButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,261},{35,35}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{35,35}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>UI_StuntButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,385},{61,49}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{61,49}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>UI_TileRack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{305,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,52}}</string>
                <key>sourceSize</key>
                <string>{305,52}</string>
            </dict>
            <key>UI_Tooltip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,298},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,31}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6a5e49d145ed6968f3728281aa79b92$</string>
            <key>textureFileName</key>
            <string>UI.pvr.ccz</string>
        </dict>
    </dict>
</plist>
